<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/client.js"></script>

</head>
<body>

<%- include('../partials/header.ejs') %>

<h3>Demo page - Webpack ES6 express boilerplate</h3>

<p>Dynamic content rendered s by <%= title %> and EJS </p>

</body>
</html>